.header_bar {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h1 {
    padding-left:10%;
}

#sub_bar {
    display: flex;
    justify-content: center;
    border-top: 1px solid #61cdff;
    border-bottom: 1px solid #61cdff;
    background: #f8f8f8;
    box-shadow: inset 0px 0px 4px 0px #61cdff;
}