.header_bar {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    padding-left:10%;
}

#sub_bar {
    display: flex;
    justify-content: center;
    border-top: 1px solid #61cdff;
    border-bottom: 1px solid #61cdff;
    background: #f8f8f8;
    box-shadow: inset 0px 1px 4px 0px rgba(93, 231, 255, 0.719);
}